html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #009688;
}

.container {
    text-align: center;
    padding-top: 10%;
}

.title {
    color: #FFFFFF;
    font-size: 32px;
    margin-bottom: 32px;
}

.button {
    border: 0;
    background: #80CBC4;
    width: 180px;
    height: 40px;
    margin: 5px;
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
}